# Requirements for twix
#
# Author:: Greg Albrecht <mailto:gba@splunk.com>
# Copyright:: Copyright 2012 Splunk, Inc.
# License:: Apache License 2.0
#


pylint
pep8
mock
nose
flake8
coverage
clonedigger
mako
